@import "./normalize.css";

p,span{
  margin: 0;
  padding: 0;
  word-break: break-word!important;
}
.hover1{
  color: rgba(255, 255, 255, 0.7)!important;
  text-decoration: none;
}
.hover1:hover{
  cursor: pointer;
  color: rgb(255, 255, 255)!important;
}
span,p:hover{
  cursor: default;
}

html {
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style:none;
  /*火狐下隐藏滚动条*/
  scrollbar-color: transparent transparent;
}
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
border-radius: 5px;
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
/*滚动条里面轨道*/
/* box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2); */
border-radius: 5px;
/* background   : #ededed; */
}